@import "tailwindcss";

@theme {
  /* 1. Define your breakpoints as custom properties */
  --breakpoint-sm: 340px;
  --breakpoint-md: 540px;
  --breakpoint-lg: 768px;
  --breakpoint-xl: 1180px;

  /* 2. Define container settings as custom properties */
  --container-padding: 12px;
  --container-padding-md: 32px;
  --container-max-width: 100%;
}

/* 3. Implement container styles OUTSIDE @theme */
@layer utilities {
  .container {
    /* width: 100%; */
    /* max-width: var(--container-max-width); */
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
  }

  @media (min-width: var(--breakpoint-md)) {
    .container {
      padding-left: var(--container-padding-md);
      padding-right: var(--container-padding-md);
      color: yellow;
    }
  }

  @keyframes upDown {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-1rem);
    }
  }
  @keyframes rotateEffect {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes scaleEffect {
    0% {
      transform: scale(0.8);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(0.8);
    }
  }
  .movingY {
    animation: upDown 3s linear infinite;
  }

  .rotating {
    animation: rotateEffect 15s linear infinite;
  }

  .scaling {
    animation: scaleEffect 3s linear infinite;
  }
}

body {
  @apply bg-green-950 text-white tracking-wider;
}

.nav-link {
  @apply text-lg font-bold duration-300;
}
.nav-link:hover {
  @apply text-yellow-500;
}

section {
  @apply py-20 md:py-28;
}

h1 {
  @apply text-3xl md:text-4xl xl:text-5xl font-bold;
}

h2 {
  @apply text-2xl md:text-3xl xl:text-4xl;
}

h3 {
  @apply text-xl md:text-2xl xl:text-3xl;
}
.title {
  @apply text-yellow-500;
}
/* button  */

.btn {
  @apply border rounded-md bg-yellow-500 py-2 px-5 border-yellow-500 duration-300;
}

.btn span {
  @apply font-bold;
}

.btn:hover {
  @apply opacity-90 cursor-pointer;
}

.btn_outline {
  @apply border-yellow-500 bg-transparent;
}
.btn_outline:hover {
  @apply bg-yellow-500;
}

.popular__card:hover img {
  @apply -top-8;
}
